/* En este archivo van los estilos generales de la pagina */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  color: #2e64a1;
  font-weight: 400;
}

.holder-encabezado {
  display: flex;
  justify-content: center;
  margin: 3px;
  padding: 3px;
}

.holder-main {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.columnas {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  border-width: 1px;
}